.editor-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.editor-preview {
  width: 375px;
  height: 812px;
  border-radius: 4px;
  background-color: white;
  transform: scale(1);
  overflow: scroll;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
}