.editor-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  overflow-y: scroll;
  max-height: 913px;
}

.editor-preview {
  width: 375px;
  height: 812px;
  border-radius: 4px;
  background-color: white;
  /* transform: scale(0.7); */
  zoom: 0.7;
  overflow: scroll;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  flex: 0 0 auto;
  position: absolute;
}